name: Quasar build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build
      run: |
        cd ./frontend
        npm install
        npm install @quasar/cli
        npx quasar build
    - name: Archive production artifact
      uses: actions/upload-artifact@v2
      with:
        name: dist
        path: ./frontend/dist/spa
    - name: Release Website to S3
      uses: shallwefootball/s3-upload-action@master
      with:
        aws_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
        aws_bucket: ${{ secrets.AWS_BUCKET }}
        endpoint: ${{ secrets.AWS_ENDPOINT }}
        source_dir: ./frontend/dist/spa
        destination_dir: ''
